__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.git
.gitignore
.github
.idea
.vscode
.DS_Store
**/node_modules
ollama-models/
*.md
!README.md
logs/
*.log
.pytest_cache/ 